.container {
  display: flex;
  gap: 30px;
}

.coords {
  margin-top: 0;
  display: flex;
  gap: 10px;
}

.coordX, .coordY {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coordXInput, .coordYInput {
  width: 25px;
}

.canvas {
  display: block;
  border: 1px solid blue;
  /* margin-left: 30px; */
}

.colorContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}


/* RANGE 3 */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    /* height: 40px; */
    /* width: 200px; */
    cursor: pointer;
    border-radius: 0; /* iOS */
    border-radius: 10px;
}

::-webkit-slider-runnable-track {
    background: #fff;
    background: #fff;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px #faaa8d; /* 2 */
    border: 2px solid #999; /* 1 */
}

/* #211f1f circle color */
/* dogerblue => #faaa8d, color of filled part*/

::-moz-range-track {
    height: 40px;
    /* border-radius: 50%; */
    background: #fff;
}

::-moz-range-thumb {
    background: #211f1f;
    height: 20px;
    width: 20px;
    border-radius: 50% !important;
    box-shadow: -200px 0 0 195px #faaa8d;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #faaa8d;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #fff;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}
