.container {
  display: flex;
  gap: 30px;
}

.coords {
  margin-top: 0;
  display: flex;
  gap: 10px;
}

.coordX, .coordY {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coordXInput, .coordYInput {
  width: 25px;
}

.canvas {
  display: block;
  border: 1px solid blue;
  /* margin-left: 30px; */
  position: relative;
}

.export {
  cursor: pointer;
  position: absolute;
  bottom: -5px;
  left: -5px;
  background-color: var(--primary-color);
  color: #000;
  border: none;
  font-size: 24px;
  width: 145px;
  height: 37px;
  border-radius: 12px;
}

.colorContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Navigation to other fractals */
.links {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: fit-content;
}

.links > a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.links > .activeLink {
  color: red;
}
