.container {
  display: flex;
  gap: 30px;
}

.canvas {
  display: block;
  border: 1px solid blue;
  /* margin-left: 30px; */
  position: relative;
}

.export {
  cursor: pointer;
  position: absolute;
  bottom: -5px;
  left: -5px;
  background-color: var(--primary-color);
  color: #000;
  border: none;
  font-size: 24px;
  width: 145px;
  height: 37px;
  border-radius: 12px;
}

/* .cb {                */
/*   margin-right: 5px; */
/* }                    */

.cbCont {
  display: flex;
  gap: 5px;
}

.info {
  position: relative;
  height: 40px;
}

.info > p {
  position: absolute;
  right: 100px;
  top: 0;
  background-color: var(--primary-color);
  padding: 5px;
  cursor: pointer;
}

.infoText {
  display: none;
}

p.infoButton:hover + .infoText {
  display: block;
  position: absolute;
  border: 1px solid #000;
  z-index: 1000;
  top: 50px;
  right: 50px;
  width: 300px;
}
